.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0.8rem;
  padding: 0.2rem;

  width: 200px;
  height: 200px;

  background-color: var(--dark);
  color: #33cb33;

  font-size: 1.2rem;

  border: 12px solid #c7bf9e;
  border-radius: 5% 5% 5% 30%;
  box-shadow: 7px 7px 5px #1d1d1da9;
}
