@keyframes perpetual-rotation {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}

.title-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;

  img {
    filter: brightness(80%);
    width: 100%;
    max-width: 124px;

    animation: perpetual-rotation 1.4s ease-in-out 0s infinite alternate-reverse;
  }
}

.cards {
  margin: 1.8rem;
  border: 3px solid #7b0606;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  img {
    animation: none;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;

  ul {
    margin: 0;
    padding: 0;

    button {
      margin: .3rem;
    }
  }

}

.leds, .small-leds {
  display: flex;
  flex-direction: row;
}

.blue-led-outside {
  margin-left: 1.8rem;
  width: 5rem;
  height: 5rem;
  border: 2px solid var(--dark);
  border-radius: 100%;

  background-color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-led-inside {
  width: 4.5rem;
  height: 4.5rem;
  border: 2px solid var(--dark);
  border-radius: 100%;

  background-color: #6a89e9;

  display: flex;
  align-items: end;
  justify-content: end;
}

.blue-led-shadow {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 100%;

  background-color: #40538a;

  display: flex;
  align-items: start;
  justify-content: start;
}

.blue-led-shadow-break {
  margin-left: .2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;

  background-color: #6a89e9;

  display: flex;
  align-items: start;
  justify-content: start;
}

.blue-led-light-reflection {
  margin-left: .4rem;
  margin-top: .4rem;
  width: .6rem;
  height: .6rem;
  border-radius: 100%;

  background-color: #ffffff98;
}

.red-led, .green-led, .yellow-led {
  margin-left: .8rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--dark);
  border-radius: 100%;
}

.red-led {
  background-color: #bf0000;
}

.yellow-led {
  background-color: #eee543;
}

.green-led {
  background-color: #75e61f;
}